@import 'normalize';
@import 'vars';
@import 'themes';

*,
*::before,
*::after {
	box-sizing: border-box;
	font: var(--font-md);
	color: var(--color-font);
	transition: background 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out, stroke 0.3s ease-out;
}

.app {
	background: var(--color-background);
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
}

.storybook-app {
	background: var(--color-background);
	min-height: 100vh;
	padding: 1rem;
}

.content-page {
	margin-left: var(--sidebar-current-width);
	transition: margin-left 0.3s ease-out;
}

.page-wrapper {
	padding: 1rem;
}
