.Header {
	height: var(--header-height);
	background: var(--color-background);
	color: var(--color-font);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	grid-column: 1 / -1;
	border-bottom: 1px solid var(--color-border);
}

.button {
	border: none;
	padding: 6px 10px;
	border-radius: var(--radius-xs);
	background: transparent;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

	&:hover {
		background: var(--color-button-hover);
	}
}
