:root {
	--font-family-main: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-size-xs: 12px;
	--font-xs: var(--font-size-xs) / 1.5 var(--font-family-main);
	--font-size-sm: 14px;
	--font-sm: var(--font-size-sm) / 1.5 var(--font-family-main);
	--font-size-md: 16px;
	--font-md: var(--font-size-md) / 1.5 var(--font-family-main);
	--font-size-lg: 20px;
	--font-lg: var(--font-size-lg) / 1.5 var(--font-family-main);
	--font-size-xl: 24px;
	--font-xl: var(--font-size-xl) / 1.5 var(--font-family-main);
	--font-size-xxl: 32px;
	--font-xxl: var(--font-size-xxl) / 1.5 var(--font-family-main);
}
