:root {
	--header-height: 64px;
}

:root {
	--z-index-modal: 10;
	--z-index-image-input-overlay: 3;
	--z-index-avatar: 5;
	--z-index-header: 2;
}

:root {
	--radius-xs: 4px;
	--radius-sm: 8px;
	--radius-md: 12px;
	--radius-lg: 16px;
	--radius-xl: 20px;
}
