.commentCard {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.header {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.avatar {
	border: 1px solid var(--color-gray-1);
}

.avatarPlaceholder {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--color-gray-1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	margin-left: 3rem;
}
