.profileCard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	.header {
		height: 300px;
		width: 100%;
		position: relative;

		.backgroundImage {
			position: absolute;
			top: -1rem;
			left: -1rem;
			right: -1rem;
			width: calc(100% + 2rem);
			height: 100%;
		}

		.avatarImage {
			position: absolute;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			width: 200px;
			height: 200px;
			box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 20px;
		padding: 0 30px;

		.username {
			font-size: 40px;
			font-weight: 600;
		}

		.group {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}
