.burgerButton {
	background: transparent;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--current-color);
	border-radius: 4px;
	cursor: pointer;
	overflow: hidden;

	--current-color: var(--color-font);
	--pi: 3.1416;

	.svg {
		transition: rotate 0.3s ease-in-out, stroke 0.3s ease-in-out;
	}

	.line {
		stroke-dasharray: 60 calc(10 * var(--pi)) 60 calc(90 + 20 * var(--pi));
		stroke-dashoffset: calc(-58 - 5 * var(--pi));
		transition: stroke-dasharray 0.3s ease-in-out, stroke-dashoffset 0.3s ease-in-out;
	}

	&.open {
		.svg {
			rotate: 45deg;
		}

		.line {
			stroke-dasharray: 60 calc(150 + 35 * var(--pi));
			stroke-dashoffset: 0;
		}
	}
}
