.app.dark {
  --bg-color: #03001C;
  --inverted-bg-color: #FFF2F2;

  --color-primary: #5B8FB9;
  --inverted-color-primary: #7286D3;
  --color-secondary: #B6EADA;
  --inverted-color-secondary: #E5E0FF;
}
