:root[data-theme='dark'] {
	--color-primary: #0277bd;
	--color-secondary: #0288d1;
	--color-tertiary: #03a9f4;
	--color-background: var(--color-dark-gray);
	--color-font: var(--color-off-white);
	--color-border: var(--color-medium-gray);
	--color-button-hover: var(--color-medium-gray);
}
