:root[data-theme='dark'] {
	--color-background: var(--color-dark-gray);
	--color-font: var(--color-off-white);
	--color-border: var(--color-medium-gray);
	--color-button-hover: var(--color-medium-gray);
	--color-skeleton: var(--color-medium-gray);
}
