:root[data-theme='light'] {
	--color-background: var(--color-white);
	--color-font: var(--color-dark-gray);
	--color-border: var(--color-light-gray);
	--color-button-hover: var(--color-light-gray);
	--color-skeleton: var(--color-light-gray);
}
