.app.light {
  --bg-color: #FFF2F2;
  --inverted-bg-color: #03001C;

  --color-primary: #7286D3;
  --inverted-color-primary: #5B8FB9;
  --color-secondary: #E5E0FF;
  --inverted-color-secondary: #B6EADA;
}
