.button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	position: relative;

	--current-color: var(--color-font);

	&:active {
		transform: translateY(1px);
	}

	&:disabled {
		cursor: not-allowed;

		--current-color: var(--color-medium-gray);
	}

	&:disabled:active {
		transform: none;
	}
}

.variant-default {
	background-color: var(--color-background);
	border: 1px solid var(--color-medium-gray);
	color: var(--color-font);
}

.variant-outline {
	background-color: transparent;
	border: 1px solid var(--current-color);
	color: var(--current-color);
}

.variant-filled {
	background-color: var(--current-color);
	border: 1px solid var(--current-color);
	color: var(--color-off-white);
}

.size-xs {
	padding: 0 4px;
	font-size: 8px;
	line-height: 12px;
}

.size-sm {
	padding: 4px 8px;
	font-size: 12px;
	line-height: 16px;
}

.size-md {
	padding: 8px 12px;
	font-size: 16px;
	line-height: 20px;
}

.size-lg {
	padding: 12px 16px;
	font-size: 20px;
	line-height: 24px;
}

.size-xl {
	padding: 16px 20px;
	font-size: 24px;
	line-height: 28px;
}

.radius-xs {
	border-radius: var(--radius-xs);
}

.radius-sm {
	border-radius: var(--radius-sm);
}

.radius-md {
	border-radius: var(--radius-md);
}

.radius-lg {
	border-radius: var(--radius-lg);
}

.radius-xl {
	border-radius: var(--radius-xl);
}

.radius-none {
	border-radius: 0;
}

.uppercase {
	text-transform: uppercase;
}

.color-primary {
	--current-color: var(--color-primary);
}

.color-success {
	--current-color: var(--color-accent-green);
}

.color-danger {
	--current-color: var(--color-accent-red);
}

.color-warning {
	--current-color: var(--color-accent-yellow);
}

.color-info {
	--current-color: var(--color-accent-gray);
}

.loading {
	color: transparent;
}

.loaderWrapper {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	--size: 30px;

	.loader {
		position: relative;
		display: inline-block;
		width: var(--size);
		height: var(--size);

		&::after,
		&::before {
			content: '';
			width: var(--size);
			height: var(--size);
			border-radius: 50%;
			background: var(--color-background);
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			animation: loader 2s linear infinite;
		}

		&::after {
			animation-delay: 1s;
		}
	}
}

@keyframes loader {
	from {
		transform: scale(0);
		opacity: 1;
	}

	to {
		transform: scale(1);
		opacity: 0;
	}
}
