.modal {
	position: fixed;
	inset: 0;
	z-index: var(--z-index-modal);
	background: var(--color-overlay-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	.content {
		padding: 20px;
		border-radius: 8px;
		background: var(--color-background);
		color: var(--color-font);
		cursor: auto;
		max-width: 70%;
		min-width: 280px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&.opening {
		animation: fadeIn 0.2s ease-in-out forwards;
	}

	&.open {
		pointer-events: auto;
	}

	&.closing {
		animation: fadeOut 0.2s ease-in-out forwards;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
