.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
}

.input {
	border-radius: var(--radius-sm);
	border: 1px solid var(--color-font);
	outline: none;
	color: var(--color-font);
	background: var(--color-background);
	padding: 8px;
	display: inline-block;
	min-width: 250px;
	line-height: 1;

	&:focus {
		border: 1px solid var(--color-primary);
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		font-family: inherit;
		font-size: 100%;
		line-height: 1;
		margin: 0;
		color: var(--color-font) !important;
		border: 1px solid var(--color-font);
		-webkit-text-fill-color: var(--color-font);
		-webkit-box-shadow: 0 0 0 1000px transparent inset;
		transition: background-color 5000s ease-out 0s;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&[type='number'] {
		-moz-appearance: textfield;
	}

	&[type='password'] {
		padding-right: 36px;
	}
}

.clearButton {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%) scale(0.8);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease-out;

	&.withRight {
		right: 40px;
	}
}

.input:focus ~ .clearButton,
.wrapper:hover .clearButton {
	opacity: 1;
	pointer-events: all;
}

.showPassword,
.edit {
	position: absolute;
	right: 0;
	width: 36px;
	height: 100%;
	border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
	border: none;
	border-left: 1px solid var(--color-font);
	background: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;

	svg {
		transform: scale(0.8);
		stroke-width: 1;
	}
}

.input:focus ~ .showPassword {
	border-left: 1px solid var(--color-primary);
}
