.link {
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	padding: 8px;
	border-radius: var(--radius-xs);
	transition: background 0.3s ease-out, gap 0.3s ease-out;
	overflow: hidden;

	&:hover {
		background: var(--color-button-hover);
	}

	span {
		display: inline-block;
		max-width: 100%;
		transition: max-width 0.3s ease-out, opacity 0.3s ease-out, filter 0.3s ease-out, color 0.3s ease-in-out;
		margin: 0 0 auto;
		opacity: 1;
		filter: blur(0);
	}

	&.collapsed {
		gap: 0;

		span {
			max-width: 0;
			opacity: 0;
			filter: blur(16px);
		}
	}
}
