.ThemeSwitcher {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--inverted-color-primary);
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: var(--inverted-color-primary);
	}
}
