.languageSwitcher {
	border-width: 2px;
	border-color: var(--color-font);
	color: var(--color-font);
	transition: width 0.3s ease-out, background 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
	width: 100px;
	height: 40px;
	position: relative;

	&.short {
		width: 40px;
	}

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: filter 0.3s ease-out, opacity 0.3s ease-out, color 0.3s ease-out;

		&.visible {
			filter: blur(0);
			opacity: 1;
		}

		&.hidden {
			filter: blur(16px);
			opacity: 0;
		}
	}
}
